@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}


body {
    background-color: #00487d;
}

@layer base {

    .layout {
        max-width: 68.75rem; 
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white
    }
}
